{% extends 'base.html' %}

{% block script %}
<script src="../../static/js/add_ingredient.js"></script>
{% endblock %}


{% block header %}
<div class="content-title">
    <h1><a class="title" href="{{ url_for('index') }}">BREAD EXPERIMENT LOG</a></h1>
    <br>
    <h4>EDIT RECIPE</h4>
</div>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
        <h1 class="recipe-name show">{{ recipe.name }}</h1>
    </div>
</div>
<!--Display existing steps with option to edit or delete-->
<div class="row">
    {% if recipe.steps | length < 1 %}
    <div>
        <p>No steps added yet, add a step below</p>
    </div>
    {% else %}
        <!--Displays aggregated ingredients--> 
        <div class="col-12">
            <div class="col-2"></div>
            <div class="col-8">
                <table id="ingredients-total-edit">
                    <tr>
                        <th>INGREDIENT</th>
                        <th>TOTAL WEIGHT</th>
                        <th>BAKER'S PERCENTAGE</th>
                    </tr>
                    {% for ingr, weight in ingredients.items() %}
                    <tr>
                        <td>{{ ingr }}</td>
                        <td>{{ weight[0] }}g</td>
                        <td>{{ weight[1] }}%</td>
                    </tr>
                {% endfor %}
                </table>
            </div>
            <div class="col-2"></div>
        </div>
        <!--Displays steps-->
        <div class="col-12"><h2 id="steps">S T E P S</h2></div>
        {% for step in recipe.steps %}
        <div class="col-12 recipe-step">
            <div class="col-2">
                <h3>{{ step.step_number }}</h3>
            </div>
            <div class="col-5">
                <h4>1 H {{ step.minutes }} MIN</h4>
                <div class="col-12 step-notes">
                    <p>{{step.notes}}</p>
                </div>
            </div>
            <div class="col-4">
                <table class="ingredient-list-table" id="ingredient-list-{{step.id}}">
                    <tr>
                        <th>INGREDIENT</th>
                        <th>WEIGHT (g)</th>
                    </tr>
                    {% for ingredient in step.ingredients %}
                    <tr>
                        <td>{{ ingredient.ingredient }}</td>
                        <td>{{ ingredient.weight }}</td>
                        <td class="placeholder-show"><i class="fa fa-edit"></i></td>
                        <td class="placeholder-show"><a href="{{ url_for('delete_step_ingredient', step_ingredient_id=ingredient.id) }}"><i class="fa fa-trash"></i></a></td>
                    </tr>
                    {% endfor %}
                </table>
                <div id="ingredient-form-{{ step.id }}">
                    <form class="form-ingredient" data-stepid="{{ step.id }}" data-recipeid="{{ recipe.id }}">
                        <input class="ingredient-input" type="text" name="ingredient" placeholder="INGREDIENT">
                        <input class="ingredient-input" type="number" step=".01" min="0" name="weight" placeholder="100">
                        <input class="ingredient-add-btn" type="submit" data-stepid="{{ step.id }}" value="Add">
                    </form>
                </div>
            </div>
            <div class="col-1">
                <a href="/delete_step/{{ step.id }}">Delete Step</a>
                {% if step.step_number > 1 %}
                    <a href="/move_step_up/{{ step.id }}">Move Up</a>
                {% endif %}
                {% if step.step_number != recipe.total_steps %}
                    <a href="/move_step_down/{{ step.id }}">Move Down</a>
                {% endif %}
            </div>
        </div>
        <div class="col-1"></div><div class="col-10 break"></div><div class="col-1"></div>
        {% endfor %}
    {% endif %} 
</div>
<!--Add new steps-->
<div class="row col-12">
    <form method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe.id) }}">
    {{ form.hidden_tag() }}
        <fieldset>
            <div>
                {{ form.minutes.label() }}
                {{ form.minutes() }}

                {{ form.notes.label() }}
                {{ form.notes(cols="40", rows="10") }}

                {{ form.submit(class="call-to-action") }}
            </div>
        </fieldset>
    </form>
</div>

<!--Delete recipe-->
<div class="row">
    <div class="col-12">
        <a href="/delete_recipe/{{ recipe.id }}">Delete Recipe</a>
    </div>
</div>

{% endblock %}
