{% extends 'base.html' %}

{% block header %}
<div class="content-title">
    <h1><a class="title" href="{{ url_for('index') }}">BREAD EXPERIMENT LOG</a></h1>
    <br>
    <h4>EDIT RECIPE</h4>
</div>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
        <h1>{{ recipe.name }}</h1>
    </div>
</div>
<!--Display existing steps with option to edit or delete-->
<div class="row">
    {% if recipe.steps | length < 1 %}
    <div>
        <p>No steps added yet, add a step below</p>
    </div>
    {% else %}
        {% for step in recipe.steps %}
            <div class="col-12">
                <p>Step: {{ step.step_number }} Action: {{ step.action }} Time in Minutes: {{ step.minutes }}</p>
                <a href="/delete_step/{{ step.id }}">Delete Step</a>
                <button id="ingredient">Add Ingredient</button>
                <div id="ingredient-form"></div>
                <div class="col-12" id="ingredients-list"></div>
            </div>
        {% endfor %}
    {% endif %} 
</div>
<!--Add new steps-->
<div class=row>
    <form method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe.id) }}">
    {{ form.hidden_tag() }}
        <fieldset>
            <div>
                {{ form.step_number.label() }}
                {{ form.step_number() }}

                {{ form.action.label() }}
                {{ form.action() }}

                {{ form.minutes.label() }}
                {{ form.minutes() }}

                {{ form.notes.label() }}
                {{ form.notes() }}

                {{ form.submit(class="call-to-action") }}
            </div>
        </fieldset>
    </form>
</div>

<!--Delete recipe-->
<div class="row">
    <div class="col-12">
        <a href="/delete_recipe/{{ recipe.id }}">Delete Recipe</a>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        
    });
</script>
{% endblock %}