{% extends 'base.html' %}

{% block header %} 
<div class="content-title">
    <h1>BREAD EXPERIMENT LOG</h1>
    <br>
    <h4>One place to track all of your bread recipe development and experimentation.</h4>
</div>
{% endblock %}

{% block body %}
<div class="row banner">
    <div class="col-12">
        <picture>
            <source srcset="static/images/bread_raw_small.jpg" media="(max-width: 400px)">
            <source srcset="static/images/bread_raw.jpg">
            <img src="static/images/bread_raw.jpg" alt="Bread on a table">
          </picture> 
        <div class="col-12 content-banner centered">
            <h2>Develop your perfect loaf through experimentation and iteration</h2>
        </div>
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-12"> 
        <h1>FEATURES</h1>
    </div>
</div>
<div class="row">
    <div class="col-4 small-banner">
        <picture>
            <source srcset="static/images/slice.jpg">
            <img src="static/images/slice.jpg" alt="Bread slice">
          </picture> 
        <h4>Easy place to keep recipes you develop</p>
    </div>
    <div class="col-4 small-banner">
        <picture>
            <source srcset="static/images/slice2.jpg">
            <img src="static/images/slice2.jpg" alt="Bread slice">
          </picture> 
        <h4>Start timers for every step</p>
    </div>
    <div class="col-4 small-banner">
        <picture>
            <source srcset="static/images/breadlist-1.jpg">
            <img src="static/images/breadlist-1.jpg" alt="Bread slice">
          </picture> 
        <h4>Know when to start baking to have your bread ready in time</p>
    </div>
</div>

<br>
<div class="row">
    <div class="col-12">
        <a href="{{ url_for('users.register') }}" class="button call-to-action">GET STARTED</a>
    </div>
</div>

<br>
<br>
<div class="row">
    <small class="col-12">
        Already have an account? <a href="{{ url_for('users.login') }}">Log in </a>to create and edit your recipes.
    </small>
</div>

{% endblock %}