{% extends 'base.html' %}

{% block header %} 
<div class="content-title">
    <h1><a class="title" href="{{ url_for('about.index') }}">BREAD EXPERIMENT LOG</a></h1>
    <br>
    <h4>WELCOME BACK</h4>
</div>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12 banner">
        <picture>
            <source srcset="static/images/bread_raw_small.jpg" media="(max-width: 400px)">
            <source srcset="static/images/bread_raw.jpg">
            <img class="banner-thin" src="static/images/bread_raw.jpg" alt="Bread on a table">
          </picture> 
    </div>
</div>

<div class="row">
    <div class="col-12 login-form">
        <form method="POST", action="">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            <fieldset>
                <div class="col-6 form-label">{{ form.email.label() }}</div>
                <div class="col-6 form-value">{{ form.email() }}</div>
                <div class="col-6 form-label">{{ form.password.label() }}</div>
                <div class="col-6 form-value">{{ form.password() }}</div>
            </fieldset>
            {{ form.submit(class="call-to-action") }}
        </form>
    </div>
</div>

{% endblock %}