{% extends 'base.html' %}

{% block script %}
<script type='text/javascript' src="../static/js/display_recipe.js"></script>
{% endblock %}


{% block header %} 
{% if current_user.is_authenticated %} 
    <div class="content-title">
        <h1><a class="title" href="{{ url_for('index') }}">BREAD EXPERIMENT LOG</a></h1>
        <br>
        <h4>Welcome back, {{ current_user.name }}</h4>
    </div> 
    {% endif %}
{% endblock %}

{% block body %}
<div class="row">
    <!--Sidebar of existing recipes-->
    <div class="col-4">
        <form method="POST" action=""> <!--action="" means post to the same route we're on-->
            {{ form.hidden_tag() }} <!--add a CSRF token-->
            <fieldset>
                <div>
                    {{ form.recipe_name.label(class="") }}<span></span>
                    {{ form.recipe_name(class="")}}
                    {{ form.submit(class="call-to-action-small") }}
                </div>
            </fieldset>
        </form>
        <br>
        <div class="box-container">
            {% if recipes|length < 1 %}
            <h4>No recipes yet. Try creating a new one.</h4> 
            {% else %}
            <div class="box-header">
                <h3 class="table-header">RECIPE BOX</h3>
            </div>
            <br>
            <div class="box">
                {% for recipe in recipes %}
                    <div class="box-recipe" data-recipeid="{{ recipe.id }}">
                        <img src="static/images/breadlist-1.jpg">
                        <button>{{ recipe.name }}</button>
                    </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
    <!--On the right we'll have create new recipe + space to load existing recipe-->
    <div class="col-8">
        {% if recipes | length < 1 %}
        <p>No recipes yet, create one to start</p>
        {% else %}
        <!--Show information for the first recipe-->
        <h1 id="recipe-name">{{ recipes[0].name }}</h1><span></span>
        <a id="edit-link" class="title-edit" href="{{ url_for('edit_recipe', recipe_id=recipes[0].id) }}"><i class="fa fa-edit"></i></a>
        <a id="delete-link" class="title-edit" href="{{ url_for('delete_recipe', recipe_id=recipes[0].id) }}"><i class="fa fa-trash"></i></a>
        <hr>

        <div class="total-time">
            <p class="inline" id="total-time">Total Time:</p>
            <p class="inline" id="hours">{{ hours }}</p> 
            <p class="inline">hours</p> 
            <p class="inline" id="minutes">{{ minutes }}</p>
            <p class="inline">minutes</p>
        </div>
        
        <p class="timing-notes" id="calculated-finish">If starting now, this recipe will finish at approximately 00:00 am</p> 
        
        <div class="start-time">
            <p class="inline">To finish at</p>
            <input class="inline" id="input-time" type="time", value="12:00">
            <p class="inline" id="calculated-start">today start at 00:00 am</p> 
        </div>
        
        <div class="row">
            <div class="col-11">
                {% if ingredients | length < 1 %} 
                    <p>No ingredients added to steps yet. Consider editing this recipe</p>
                {% else %} 
                <table id="ingredients-total-edit">
                    <tr>
                        <th>INGREDIENT</th>
                        <th>TOTAL WEIGHT</th>
                        <th>BAKER'S PERCENTAGE</th>
                    </tr>
                        {% for ingr, weight in ingredients.items() %}
                        <tr>
                            <td>{{ ingr }}</td>
                            <td>{{ weight[0] }}g</td>
                            <td>{{ weight[1] }}%</td>
                        </tr>
                        {% endfor %}
                </table>
                {% endif %}          
            </div>
            <div class="col-1"></div>
        </div>

        <!-- Steps -->
        <div class="row">
            <div id="steps">
                {% for step in recipes[0].steps %}
                <div class="display-step">
                    <h1 class="display-stepnum">{{ step.step_number }}</h1>
                    <h5 class="display-time">TIME: {{ step.hours }} HOURS {{ step.minutes }} MINUTES</h5>
                    <ul class="ingr-list">
                        {% for ingr in step.ingredients %}
                        <li>{{ ingr.ingredient }}  {{ ingr.weight }}g</li>
                        {% endfor %}
                    </ul>
                    <p class="display-notes">{{ step.notes }}</p>
                </div>
                {% endfor %}
            </div>
        </div>

         
        {% endif %}
    </div>
{% endblock %} 
