{% extends 'base.html' %}

{% block header %} 
<h1>Create an account</h1>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
        <form method="POST", action="">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            <fieldset>
                <div>
                    {{ form.email.label() }}
                    {{ form.email() }}
                </div>
                <div>
                    {{ form.password.label() }}
                    {{ form.password() }}
                </div>
                <div>
                    {{ form.confirm_password.label() }}
                    {{ form.confirm_password() }}  
                </div>
            </fieldset>
            {{ form.submit(class="call-to-action") }}
        </form>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>Already have an account? Log in <a href="{{ url_for('login') }}">here</a>.</p>
    </div>
</div>

{% endblock %}