/*
323A3B  gray
547264  dark green
9CB7A6  light green
F9F5EC  white   	249, 245, 236
C5514C  red */ 

* {
    box-sizing: border-box; 
    margin-left:0; 
    margin-right:0; 
}

body, html {
    margin-top: 15px;
    font-family: 'Heebo';
}

.col-1 {
    width: 8.33%;
    float: left;
    padding: 15px;
}

.col-2 {
    width: 16.66%;
    float: left;
    padding: 15px;
}
.col-3 {
    width: 25%;
    float: left;
    padding: 15px;
}
.col-4 {
    width: 33.33%;
    float: left;
    padding: 15px;
}
.col-5 {
    width: 41.66%;
    float: left;
    padding: 15px;
}
.col-6 {
    width: 50%;
    float: left;
    padding: 15px;
}
.col-7 {
    width: 58.33%;
    float: left;
    padding: 15px;
}
.col-8 {
    width: 66.66%;
    float: left;
    padding: 15px;
}
.col-9 {
    width: 75%;
    float: left;
    padding: 15px;
}
.col-10 {
    width: 83.33%;
    float: left;
    padding: 15px;
}
.col-11 {
    width: 91.66%;
    float: left;
    padding: 15px;
}
.col-12 {
    width: 100%;
    float: left;
    text-align: center;
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }

.content-title {
    margin: 15px
}

a.title-edit {
    color: #323A3B;
}


h1 {
    font-size: 28px;
    font-weight: 300; 
    color: #323A3B; 
    display: inline;
    margin-bottom: 0;
    padding-bottom:0; 
    margin-top: 1.2em;
}

h1.recipe-name:hover {
    text-decoration: underline;
    padding-left: 3.4em; 
    padding-right: 3.4em;

}

h2 {
    font-family: "Raleway";
    font-weight: 300; 
}

h3 {
    font-size: 2.3em; 
    text-align: right; 
    font-family: 'Parisienne', cursive;
    font-weight: 100; 
}

h4 {
    font-family: "Raleway";
    font-weight: 300; 
    font-size: 1.2em;
}

h5 {
    font-family: "Raleway";
    font-weight: 300; 
    font-size: 1em;
}

h6 {
    font-family: "Raleway";
    font-weight: 300; 
    font-size: 0.8em;
    padding-bottom:0;
}


#steps h2{
    text-align:center;
}

nav {
    margin-top:0; 
    padding-top:0.2em;
    padding-bottom: 0.2em; 
    margin-right: 1em; 
    text-align: right; 
} 

hr.substep {
    border-top: 1px dashed #547264;
}

.sticky-nav {
	position: -webkit-sticky;
	position: sticky;
    top: 0;
    width: 100%; 
    background-color: #9CB7A6; 
}


ul {
    list-style-type: none; 
    margin: 0; 
    padding: 0;
}

li {
    display: inline;
    font-family: 'Raleway';
    font-weight: 100;
    font-size:18px;
}

.break {
    padding-bottom: 2px;
    border-bottom: 1px solid #737e80;  
}

fieldset {
    border: 0; 
}

.table-header {
    font-family:'Raleway';
    font-weight:300;
    font-size:20px;
    text-align: center;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.ingredient-list-table th {
    font-family: 'Lucinda Sans';
    font-size: 0.8em;
}

.ingredient-list-table td {
    font-size: 0.9em;
}

.ingredient-list-table tr{
    text-align: left; 
}

.ingredient-list-table tr:hover:not(:first-of-type){
    text-align: left; 
    background-color: #9CB7A6;
    color: #FFF;
}

.weight-col {
    width: 30%;
}

.edit-col {
    width: 20%;
    text-align: left;
}

.edit-col-icon:hover {
    width: 20%;
    text-align: left;
    color: #323A3B;
}

#ingredients-total-edit td tr {
    padding: 0.2em;
    text-align: center; 
}

#ingredients-total-edit td {
    border-left: 1px solid #323A3B; 
    font-size: 1em;
    font-family: 'Lucinda Sans';
}

#ingredients-total-edit td:last-child {
    border-right: 1px solid #323A3B; 
}

#ingredients-total-edit tr:last-child {
    border-bottom: 1px solid #323A3B; 
}

#ingredients-total-edit th {
    background-color:  #323A3B; 
    color: #FFF;
    font-family: 'Lucinda Sans';
    font-size: 1em;
}

.step-ingredient-table td tr{
    text-align: left; 
    font-family: 'Raleway'; 
    font-size: 0.4em; 
}

a.menu:hover {
    color:#F9F5EC; 
    text-decoration: underline;
}

a.menu {
    text-decoration: none;
    color:#323A3B;
}

a.title:hover {
    text-decoration: underline;
}

a.title, a.title:visited {
    text-decoration: none;
    color: #323A3B; 
}

input.step_form {
    border: 1px solid #8b9697;
}

input[type=submit].add-step-submit {
    padding: 1em 1.7em;
    font-size: 1em;
    font-family: 'Heebo';
    font-weight: 300; 
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 60%;
}

.new-step {
    border: 5px solid #323A3B;
    border-radius: 5px; 
}

span:before{
    content:" "; 
    display:inline-block; 
    width:32px;
}

.content-title h4 {
    font-size: 18px; 
    font-weight: 100; 
    margin-top: 0; 
    color: #323A3B; 
    display: inline-block;
    padding-bottom: 0; 
}

.box-header {
    border:3px solid #323A3B;
    margin-top: 0;
    margin-left: 3em; 
    margin-right: 3em;  
    margin-bottom: 0;
}


.box-recipe {
    margin-left: 3em; 
    margin-right: 3em;  
    position: relative;
}

.box-recipe button {
    position: absolute; 
    top: 50%; 
    left: 10%;
    border-radius: 5px;
    background-color: rgb(249, 245, 236, 0.8); 
    font-size: 1.1em;
    padding: 1em 2em;
    border: none; 
    font-family: 'Raleway';
    transition: .2s ease;
}

.box-recipe img {
    height: 150px; 
    box-shadow: 0 4px 4px 0 rgb(0,0,0,0.2); 
	-webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    filter: grayscale(50%);
}

.box-recipe:hover img {
    filter: grayscale(0%);
    box-shadow: 0 8px 8px 0 rgb(0,0,0,0.2); 
}

.edit-image-title {
    position: relative; 
}

.edit-image-title img {
    height: 400px; 
}

.edit-image-title h1 {
    position: absolute; 
    color: black;
    transform: translate(-50%, -50%);
    top: 50%; 
    left: 50%;
    background-color: rgb(249, 245, 236, 0.7); 
    padding-left: 3em; 
    padding-right: 3em; 
    padding-top: 2em; 
    padding-bottom: 2em;
    transition: 0.2s ease;
}

.banner {
    position: relative; 
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(249, 245, 236, 0.6);
}

.centered-button{
    position: absolute;
    background-color: rgba(249, 245, 236, 0.6);
}

.edit-button {
    text-align: right; 
    padding-top: 2px; 
    padding-right: 5px; 
    padding-bottom:0; 
}

.login-form {
    border: 0; 
    font-family: "Raleway"; 
    font-weight: 100; 
}

.content-banner {
    margin-top: 10px;
    font-weight: 100;
    font-family: 'Heebo'; 
    color: #323A3B; 
    display: inline-block;
    text-align: center;
}

.delete-footer {
    padding: 40px;  
}

.form-label {
    font-size: 1.5em;
    text-align: right; 
}
.form-value {
    font-size: 1.5em;
    text-align: left; 
}

.form-ingredient {
    font-family: 'Heebo',bold; 
    font-weight: 400;
    font-size: 0.9em; 
    text-decoration: none; 
    box-sizing: border-box; 
    width: 100%;
}

.form-ingredient-div {
    text-align: left;
}

.ingredient-input {
    border: 1px solid #9CB7A6; 
    padding: 0.2em; 
}

.ingredient-add-btn {
    padding: 0.2em, 0.2em;
    font-size: 0.9em;
    font-family: 'Heebo';
    font-weight: 300; 
}


img {
    width: 100%; 
    height: 400px; 
    object-fit: cover; 
    object-position: 50% 20%; 
    background-image: cover;
    background-position: center;
}

img.banner-thin {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    object-position: 50% 20%; 
    background-image: cover;
    background-position: center;
}

.small-banner {
    position: relative; 
    overflow: hidden;
}

.small-banner h4 {
    text-align: center;
    position: absolute; 
    font-family: 'Heebo'; 
    font-size: 1.2em;
    font-weight: 300;
    color: #323A3B; 
    transform: translate(-50%, -50%);
    top: 50%; 
    left: 50%;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: rgb(249, 245, 236, 0.8);
}

.small-banner img {
    transition: 0.3s ease;
}

.small-banner:hover img {
    transform: scale(1.1);
}

a.button {
    border-radius: 15px;
    padding: 0.7em;
    transition: 0.2s ease; 
}

a.button:hover {
    border-radius: 15px;
    padding: 0.7em;
    background-color: #547264; 
    color: #F9F5EC;
}

.call-to-action {
    border: 1px solid #9CB7A6; 
    color: #547264;
    font-family: 'Heebo';
    font-weight: 300;   
    font-size: 20px
}

.call-to-action-small {
    border: 1px solid #9CB7A6; 
    background-color: white; 
    color: #547264;
    font-family: 'Raleway';
    font-weight: 100;   
    font-size: 14px
}


.placeholder-show {
    font-family: 'Raleway'; 
    font-size: 1.2em;
    visibility: visible; 
}

.placeholder-hide {
    visibility: hidden; 
}

.display-step {
    border-top: 2px solid #8b9697;
    margin-left: 2%; 
    margin-right: 10%; 
    padding-bottom: 5%; 
}

ul.ingr-list {
    margin-top: 3%; 
}

.ingr-list li {
    list-style-type: square; 
    display: list-item;
    text-align: left; 
    margin-left: 30%; 
}

h5.display-time { 
    font-family: 'Raleway';
    display: inline; 
    margin-left: 10%;     
}

p.display-notes {
    margin-left: 10%; 
    font-family: 'Heebo';
}

.recipe-step {
    margin-left: 5em;
    margin-right: 5em;
    border-radius: 0.8em;
    border: 1px solid  rgba(0,0,0,0.2);
    width: calc(100% - 10em);
    /* Add shadows to create the "card" effect */
    box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
  
  /* On mouse-over, add a deeper shadow */
  .recipe-step:hover {
    box-shadow: 8px 8px 16px 0 rgba(0,0,0,0.2);
  }
  

.step-notes {
    top: 50%;
    font-family: 'Heebo';
}

button.step-action {
    border: none; 
    transition: 0.1s ease; 
}

button.step-action:hover {
    background-color: #9CB7A6 ;
    color:#FFF;
}

.reset {
    font-size: 0.8em; 
    color: #323A3B;
    border: 1px solid #94a6a8;
    background-color: #F9F5EC;
    border-radius: 0.3em;
    width: 50%;
    text-align: center;
}

.reset:hover {
    color: #F9F5EC;
    background-color: #9CB7A6;
    border: none;
}

.step-time {
    font-family: 'Heebo'; 
    font-size: 1em;
    float: left; 
}

.display-step-number {
    float: left; 
}

.timing-notes {
    font-family: 'Raleway';
    font-size: 1em;
    margin: 0; 
    padding: 0; 
    text-align: center;
}

.inline {
    display: inline-block;
}

.total-time {
    margin: 0;
    padding: 0; 
    font-family: 'Raleway';
    font-size: 1.2em;
}

.start-time {
    text-align: center;
}


#input-time {
    font-size: 1.5em;
}
